Repository koshikita-volleyball/turnip, pull requests merged in 2023-05, with the labels that each got.

#46 CORSを許可した。
  server/src/app.mjs
Labels: server

#55 Lambdaで環境変数を使用してみる。
  .github/workflows/deploy.yml
  README.md
  server/src/.env.example
  server/src/app.ts
  server/src/package.json
  server/src/yarn.lock
Labels: server

#59 IDトークンを取得する関数を作成した。
  server/src/.env.example
  server/src/app.ts
  server/src/common/get_id_token.ts
Labels: server

#61 J-Quantsクライアントを定義した。
  server/src/app.ts
  server/src/common/const.ts
  server/src/common/get_id_token.ts
  server/src/common/jquants_client.ts
Labels: server

#65 上場銘柄一覧のAPIを作成した。
  server/src/app.ts
  server/src/common/jquants_client.ts
  server/src/interface/listed_info.ts
  server/template.yaml
Labels: server

#66 なぜか、本番環境だと動かない問題が発生。
  server/template.yaml
Labels: bug

#67 メモリサイズを増やした。
  server/template.yaml
Labels: bug

#53 ロゴなどの共有資産の作成
  client/public/logo.svg
  client/public/next.svg
  client/public/vercel.svg
Labels: common

#69 [FAILED] 銘柄一覧取得APIのレスポンスボディが空になる問題の修正。
  server/src/app.ts
  server/src/common/jquants_client.ts
  server/template.yaml
Labels: bug, server

#78 J-Quantsクライアントでパラメタを指定できるようにした。
  server/src/common/jquants_client.ts
Labels: server

#79 株価四本値取得API定義した。
  server/src/app.ts
  server/template.yaml
Labels: server

#82 クライアントサイドのテスト環境を整備した。
  .github/workflows/deploy.yml
  client/package.json
Labels: client

#80 クライアントサイドの環境構築手順書いた。
  README.md
  client/.env.local.example
Labels: client

#83 クライアントサイドのテスト環境を整備した。
  .github/workflows/deploy.yml
  server/.gitignore
  server/src/package.json
  server/src/tests/unit/sample.ts
  server/src/yarn.lock
Labels: server

#90 リフレッシュトークンを取得するAPIを定義した。
  server/src/app.ts
  server/src/common/get_id_token.ts
  server/template.yaml
Labels: server

#92 GH Actionsの小さな修正。
  .github/workflows/deploy.yml
Labels: common

#93 天気APIを定義した。
  server/src/app.ts
  server/template.yaml
Labels: server

#96 ラムダ関数名の指定不備を修正した。
  server/template.yaml
Labels: server

#97 株価四本値取得用APIのレスポンスデータを指定不備を直した。
  server/src/app.ts
  server/src/interface/prices_daily_quotes.ts
Labels: server

#98 Lambda関数用のDockerfileを最適化した。
  server/src/Dockerfile
Labels: server

#99 GitHub Actionsワークフローのリファクタリング。
  .github/workflows/deploy.yml
  README.md
Labels: common

#101 Dockerfileの記述ミスを修正した。
  server/src/Dockerfile
Labels: bug, server

#103 LambdaのDockerfileからWORKDIRを削除した。
  server/src/Dockerfile
Labels: bug, server

#104 一旦Dockerfileを元に戻した。
  server/src/Dockerfile
Labels: bug, server

#105 Lambda用のDockerfileではWORKDIRを指定できない？？？
  server/src/Dockerfile
Labels: bug, server

#102 外部スクリプトをインポートした関数を用意した。
  server/src/app.ts
  server/template.yaml
Labels: bug, server

#108 ステージング環境をそれぞれに作成した。
  .github/workflows/staging-deploy.yml
Labels: common

#112 不要なAPIを削除した。
  server/src/app.ts
  server/template.yaml
Labels: server

#115 requireをimportに変えた。
  server/src/app.ts
Labels: server

#124 CloudFormationのスタック名はシークレットで指定する。
  .github/workflows/deploy.yml
  .github/workflows/staging-deploy.yml
  README.md
Labels: common

#122 SAMスタック一覧を削除するための説明を書いた。
  README.md
Labels: server

#119 S3をLambdaから使ってみる。
  server/src/.env.example
  server/src/app.ts
  server/src/package.json
  server/src/yarn.lock
  server/template.yaml
Labels: server

#129 ハンドラーコンソール実行スクリプト作った。
  server/src/console.ts
  server/src/package.json
  server/src/yarn.lock
Labels: server

#133 S3バケット名を環境変数に指定して、各環境ごとに切り替えられるようにした。
  .github/workflows/deploy.yml
  .github/workflows/staging-deploy.yml
  server/src/.env.example
Labels: server

#125 リフレッシュトークンの自動更新処理の実装。
  server/src/app.ts
  server/template.yaml
Labels: server

#141 コンフリクト解消時に発生した不備の修正。
  .github/workflows/staging-deploy.yml
  server/src/app.ts
  server/src/common/jquants_client.ts
  server/template.yaml
Labels: bug, server

#145 CRONの指定不備の修正。
  server/template.yaml
Labels: bug, server

#146 エラー出力の最適化。
  server/src/app.ts
Labels: server

#148 SAM設定ファイルの最適化。
  server/samconfig.toml
Labels: server

#149 リファクタリング。
  server/src/app.ts
  server/src/common/aws.ts
  server/src/common/jquants_client.ts
  server/template.yaml
Labels: server

#151 IDトークンが正しく動作しない問題を修正。
  server/src/app.ts
Labels: bug, server

#152 [WIP] サーバサイドにEslintを導入した。
  server/.gitignore
  server/src/.eslintrc.js
  server/src/package.json
  server/src/tsconfig.eslint.json
  server/src/yarn.lock
Labels: server

#156 Prettierを導入した。
  server/src/.eslintrc.js
  server/src/.prettierignore
  server/src/.prettierrc.json
  server/src/package.json
  server/src/yarn.lock
Labels: server

#158 Prettier記法の不備の修正。
  server/src/.eslintrc.js
  server/src/.prettierrc.json
  server/src/analysis/utils.ts
  server/src/app.ts
  server/src/common/aws.ts
  server/src/common/const.ts
  server/src/common/dayjs.ts
  server/src/common/get_id_token.ts
  server/src/common/jquants_client.ts
  server/src/console.ts
  server/src/interface/jquants/listed_info.ts
  server/src/interface/jquants/prices_daily_quotes.ts
  server/src/interface/turnip/growth_rate_close.ts
  server/src/interface/turnip/utils.ts
  server/src/tests/unit/sample.ts
Labels: server

#155 Linter記法不備の修正。
  server/src/.eslintrc.js
  server/src/app.ts
  server/src/common/get_id_token.ts
  server/src/common/jquants_client.ts
  server/src/common/process_env.ts
  server/src/console.ts
  server/src/tests/unit/sample.ts
  server/src/tsconfig.eslint.json
Labels: bug, server

#162 [WIP] Prettierのチェック。
  server/src/package.json
Labels: server

#165 小さな修正。
  .github/workflows/deploy.yml
Labels: server

#166 小さな修正。
  .github/workflows/deploy.yml
Labels: bug, server

#167 DynamoDBの設計(銘柄一覧)とプロビジョニング。
  server/template.yaml
Labels: server

#168 IAMの権限付与対象リソースの名前を修正した。
  server/template.yaml
Labels: bug, server

#172 [WIP] 銘柄一覧更新APIを作成した。
  .github/workflows/deploy.yml
  .github/workflows/staging-deploy.yml
  server/src/app.ts
  server/src/common/process_env.ts
  server/template.yaml
Labels: server

#174 LinterとPrettier:Checkのコマンドを用意した。
  server/src/package.json
Labels: server

#173 ハンドラーページはawaitなしのasync関数OK!!!
  server/src/app.ts
Labels: server

#177 銘柄一覧取得APIをDynamoDBから提供する。
  server/src/app.ts
Labels: server

#181 DynamoDB-JSONと通常のJSONの差異がある問題を直した。
  server/src/app.ts
  server/src/package.json
  server/src/yarn.lock
Labels: bug, server

#182 Lambdaハンドラーの戻り値のデータ型を指定した。
  server/src/app.ts
Labels: server

#185 Hotfix
  server/src/app.ts
Labels: bug, server

#188 Hotfix
  server/src/app.ts
Labels: bug, server

#190 本番環境のプロジェクト名を変えた。
  .github/workflows/deploy.yml
Labels: server

#195 クライアントのテンプレート部分を作成した。
  client/.env.local.example
  client/.eslintrc
  client/.eslintrc.json
  client/.gitignore
  client/.prettierignore
  client/.prettierrc
  client/README.md
  client/components/Layout.tsx
  client/components/Menu.tsx
  client/dist/.gitkeep
  client/jest.config.js
  client/next.config.js
  client/package.json
  client/pages.ts
  client/pages/_app.tsx
  client/pages/index.tsx
  client/pages/listed-info.tsx
  client/pages/technical.tsx
  client/public/favicon.ico
  client/setting.ts
  client/src/DataContext.tsx
  client/src/SharedData.ts
  client/src/pages/_app.tsx
  client/src/pages/_document.tsx
  client/src/pages/hello.tsx
  client/src/pages/index.tsx
  client/src/styles/globals.css
  client/styles/index.scss
  client/styles/menu.scss
  client/styles/styles.scss
  client/tests/sample.test.ts
  client/tsconfig.json
  client/yarn.lock
Labels: client

#197 銘柄一覧取得APIにページネーション機能を追加した。
  server/src/app.ts
  server/src/common/const.ts
Labels: server

#200 クライアントで銘柄一覧を表示するところまで。
  client/.env.local.example
  client/interface/listed_info.ts
  client/pages/listed-info.tsx
  client/setting.ts
  client/styles/menu.scss
  client/styles/styles.scss
Labels: client

#208 Hotfix
  client/package.json
  client/yarn.lock
Labels: bug, client

#207 クライアントでページネーションのパラメタをURIに組み込んだ。
  client/pages/listed-info.tsx
Labels: client

#198 小さな修正。
  client/styles/index.scss
Labels: bug, client

#209 ページ遷移ボタンの表示位置変えた。
  client/pages/listed-info.tsx
Labels: bug, client

#210 クライアントの銘柄一覧表示で条件を指定できるようにした。
  client/data/MarketInfo.ts
  client/data/Sector17Info.ts
  client/data/Sector33Info.ts
  client/pages/listed-info.tsx
Labels: client

#212 銘柄一覧をソートして返却した。
  server/src/app.ts
Labels: server

#219 株価四本値をDynamoDBに保存した。(バッチ for 過去)
  work/dynamodb-importer-prices-daily-quotes/.editorconfig
  work/dynamodb-importer-prices-daily-quotes/.env.example
  work/dynamodb-importer-prices-daily-quotes/.eslintrc.js
  work/dynamodb-importer-prices-daily-quotes/.gitignore
  work/dynamodb-importer-prices-daily-quotes/.prettierignore
  work/dynamodb-importer-prices-daily-quotes/.prettierrc
  work/dynamodb-importer-prices-daily-quotes/jest.config.ts
  work/dynamodb-importer-prices-daily-quotes/package.json
  work/dynamodb-importer-prices-daily-quotes/src/add.ts
  work/dynamodb-importer-prices-daily-quotes/src/index.ts
  work/dynamodb-importer-prices-daily-quotes/tests/add.test.ts
  work/dynamodb-importer-prices-daily-quotes/tsconfig.json
  work/dynamodb-importer-prices-daily-quotes/yarn.lock
Labels: server

#220 小さな修正。
  work/dynamodb-importer-prices-daily-quotes/.env.example
  work/dynamodb-importer-prices-daily-quotes/.gitignore
Labels: bug, server

#226 [WIP] S3にある株価四本値データをDynamoDBに一括保存する関数を定義した。
  server/src/work.ts
  server/template.yaml
Labels: server

#227 Hotfix
  server/src/work.ts
Labels: bug, server

#229 Revert
  server/src/work.ts
  server/template.yaml
Labels: server

#235 株価四本値取得APIを作成した。
  .github/workflows/deploy.yml
  .github/workflows/staging-deploy.yml
  server/src/app.ts
  server/src/common/process_env.ts
  server/template.yaml
Labels: server

#236 使用している技術一覧をREADMEに書いた。
  README.md
Labels: common

#238 銘柄情報取得APIでコード指定ができるようにした。
  server/src/app.ts
Labels: server

#240 権限不足エラーの解消。
  server/template.yaml
Labels: bug, server

#243 株価四本値の取得はスキャンではなく、クエリで！！！
  server/src/app.ts
Labels: bug, server

#239 クライアントで銘柄一覧表示画面から、特定の銘柄の詳細画面へ遷移できるようにした。
  client/pages/company.tsx
  client/pages/listed-info.tsx
Labels: client

#246 prettier
  server/src/app.ts
Labels: bug, server

#248 DynamoDBの属性名で予約語を使用している問題の解消。
  server/src/app.ts
Labels: bug, server

#253 チェックCI/CD。
  .github/workflows/check.yml
Labels: common

#255 銘柄詳細ページでMAを表示した。
  client/components/CompanyPriceChart.tsx
  client/interface/prices_daily_quotes.ts
  client/package.json
  client/pages/company.tsx
  client/pages/listed-info.tsx
  client/yarn.lock
Labels: client

#259 株価四本値の更新APIを作成した。
  server/src/app.ts
  server/template.yaml
Labels: server

#271 [2023-05-16] CloudFormationの作成エラーの解消。
  server/src/app.ts
  server/template.yaml
Labels: server

#273 SAMテンプレート内のプロパティ名の修正した。
  server/template.yaml
Labels: bug, server

#275 Revert "SAMテンプレート内のプロパティ名を修正した。"
  server/template.yaml
Labels: bug, server

#265 ソフトウェアのバージョン情報書いた。
  README.md
Labels: common

#266 このプロジェクトに必要なIAMのポリシーをまとめた。
  README.md
Labels: common

#276 ListedInfoFunctionUpdaterFunctionを削除した。
  server/template.yaml
Labels: bug, server

#277 株価四本値更新APIを作成した。
  server/src/app.ts
  server/template.yaml
Labels: server

#278 ListedInfoUpdaterFunctionの新規作成。
  server/template.yaml
Labels: server

#279 Hotfix
  server/template.yaml
Labels: bug, server

#280 ListedInfoUpdaterFunction
  server/template.yaml
Labels: bug, server

#282 ListedInfoUpdaterFunctionをコメントアウトした。
  server/template.yaml
Labels: bug, server

#283 Hotfix
  server/src/app.ts
  server/template.yaml
Labels: bug, server

#287 銘柄一覧定期更新APIを作成した。
  server/template.yaml
Labels: server

#257 【WIP】クエリパラメータの取得ライブラリの作成
  server/src/common/query_parser.ts
  server/src/console.ts
Labels: server

#286 株価四本値定期更新APIを作成した。
  server/src/app.ts
  server/template.yaml
Labels: server

#294 APIの仕様変更に伴うクライアントサイドの変更。
  client/pages/company.tsx
  client/pages/listed-info.tsx
Labels: client

#301 WORKプロジェクトの説明書いた。
  work/dynamodb-importer-prices-daily-quotes/README.md
Labels: server

#300 株価データローディング表示。
  client/components/CompanyPriceChart.tsx
  client/pages/company.tsx
Labels: client

#303 銘柄一覧ページのパラメタ指定不備の修正。
  client/pages/listed-info.tsx
Labels: bug, client

#305 samの実行用スクリプトを作成
  server/run.ps1
  server/run.sh
Labels: server

#307 [WIP] useSWRの引数を綺麗にまとめた。
  client/pages/listed-info.tsx
Labels: client

#311 [WIP] クライアントサイドでPrettierチェックを入れた。
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  client/package.json
Labels: client

#308 ブラウザバック時の挙動不正を修正した。
  client/pages/listed-info.tsx
  client/pages/technical.tsx
Labels: client

#312 Lambda関数のプロビジョニングに関するコメントアウトを削除した。
  server/template.yaml
Labels: bug, server

#313 クライアントサイドのDataエクスポートをまとめた。
  client/data/export.ts
  client/pages/listed-info.tsx
Labels: client

#314 FinsStatementsテーブルの設計とプロビジョニング。
  server/template.yaml
Labels: server

#317 Lambdaで.envファイルで環境情報を指定した。
  .github/workflows/deploy.yml
  .github/workflows/staging-deploy.yml
  server/src/common/process_env.ts
Labels: server

#318 財務情報テーブルを.envに書き出し。
  .github/workflows/deploy.yml
  .github/workflows/staging-deploy.yml
Labels: server

#320 過去の財務情報を一括でCSVに出力するためのプロジェクトの作成した。
  work/dynamodb-importer-fins-statements/.editorconfig
  work/dynamodb-importer-fins-statements/.env.example
  work/dynamodb-importer-fins-statements/.eslintrc.js
  work/dynamodb-importer-fins-statements/.gitignore
  work/dynamodb-importer-fins-statements/.prettierignore
  work/dynamodb-importer-fins-statements/.prettierrc
  work/dynamodb-importer-fins-statements/README.md
  work/dynamodb-importer-fins-statements/jest.config.ts
  work/dynamodb-importer-fins-statements/package.json
  work/dynamodb-importer-fins-statements/src/add.ts
  work/dynamodb-importer-fins-statements/src/index.ts
  work/dynamodb-importer-fins-statements/tests/add.test.ts
  work/dynamodb-importer-fins-statements/tsconfig.json
  work/dynamodb-importer-fins-statements/yarn.lock
Labels: server

#322 財務情報更新APIを作成した。
  server/src/app.ts
  server/src/common/process_env.ts
  server/src/interface/jquants/fins_statements.ts
  server/template.yaml
Labels: server

#327 銘柄詳細ページの33業種が名称ではなく、コードが表示されている問題の修正。
  client/pages/company.tsx
Labels: bug, client

#326 トップページにもメニューを表示した。
  client/pages/index.tsx
  client/styles/index.scss
Labels: client

#329 財務情報を提供するためのAPIを実装した。
  server/src/app.ts
  server/src/model/fins_statements.ts
  server/template.yaml
Labels: server

#330 財務情報テーブルを操作するための必要な権限をラムダロールに与えた。
  server/template.yaml
Labels: bug, server

#331 銘柄詳細ページで財務情報を表示した。
  client/components/CompanyStatementsCard.tsx
  client/interface/fins_statements.ts
  client/package.json
  client/pages/company.tsx
  client/src/dayjs.ts
  client/yarn.lock
Labels: client

#333 銘柄詳細ページにて各ブロックごとに見出しを付けた。
  client/components/CompanyBasicInfo.tsx
  client/components/CompanyPriceChart.tsx
  client/components/CompanyStatementsCard.tsx
  client/pages/company.tsx
Labels: client

#335 ローディング表示に関するスタイル修正。
  client/pages/company.tsx
Labels: bug, client

#337 銘柄詳細画面で財務データが一つも存在しない場合に、その旨を表示した。
  client/components/CompanyBasicInfo.tsx
  client/components/CompanyPriceChart.tsx
  client/components/CompanyStatementsCard.tsx
Labels: bug, client

#338 テクニカル分析指標の絞り込み条件の設定画面の作成した。
  client/components/ScreeningConditionList.tsx
  client/components/ScreeningConditionModal.tsx
  client/interface/screening_condition.ts
  client/package.json
  client/pages.ts
  client/pages/_app.tsx
  client/pages/screening.tsx
  client/pages/technical.tsx
  client/styles/common.scss
  client/yarn.lock
Labels: client

#346 LambdaをDockerを使用せずにローカルで動作させるスクリプトを用意した。
  server/src/app.ts
  server/src/package.json
  server/src/server.ts
  server/src/yarn.lock
Labels: server

#348 Lambdaプロジェクトの不要なモジュールを削除した。
  server/src/package.json
  server/src/yarn.lock
Labels: server

#355 クライアントサイドのパッケージの更新。
  client/package.json
  client/yarn.lock
Labels: client

#357 サーバサイドのパッケージで使用されている脆弱性のあるライブラリ検査をCI/CDに組み込んだ。
  .github/workflows/deploy.yml
Labels: server

#356 クライアントサイドのパッケージで使用されている脆弱性のあるライブラリ検査をCI/CDに組み込んだ。
  .github/workflows/deploy.yml
Labels: client

#358 クライアントサイドのパッケージで使用されている非推奨ライブラリ検査をCI/CDに組み込んだ。
  .github/workflows/deploy.yml
Labels: client

#359 サーバサイドのパッケージで使用されている非推奨ライブラリ検査をCI/CDに組み込んだ。
  .github/workflows/deploy.yml
Labels: server

#361 Check用のCI/CDにも脆弱性検査と非推奨パッケージの検査を組み込んだ。
  .github/workflows/check.yml
Labels: common

#373 LambdaのコンテナイメージのコマンドをSHELL形式ではなくEXEC形式に変える(🐸)！
  server/src/Dockerfile
  server/src/yarn.lock
Labels: bug, server

#372 サーバサイドパッケージのdependenciesとdevDependenciesを明確に区別して、ECRにアップロードするLambdaイメージを軽量化した。
  server/src/Dockerfile
  server/src/package.json
  server/src/yarn.lock
Labels: server

#374 クライアントサイドのモジュールをアップグレードした。
  client/yarn.lock
Labels: bug

#375 Lambdaのコンテナイメージビルド過程をマルチステージングビルドに変えてイメージを軽量化した。
  server/src/Dockerfile
  server/src/package-lock.json
Labels: bug, server

#376 ファイナルステージに名前を付けた。
  server/src/Dockerfile
Labels: server

#378 クライアントサイドのパッケージの最適化。
  .github/workflows/deploy.yml
  client/package.json
Labels: client

#380 サーバサイドでdockerignore書いた。
  server/src/.dockerignore
Labels: server

#382 サーバサイドのnpmパッケージの修正。
  server/src/yarn.lock
Labels: bug, server

#384 dockerignoreにtsconfig入れていた、、、
  server/src/.dockerignore
Labels: bug, server

#386 クライアントサイドパッケージの不具合の修正。
  client/package.json
  client/yarn.lock
Labels: bug, client

#387 クライアントのプロダクションビルドを解除した。
  .github/workflows/deploy.yml
Labels: bug, client

#394 サーバサイドに.eslintignoreを作成した。
  server/src/.eslintignore
Labels: server

#396 銘柄情報詳細の全体ローディングを消した。
  client/pages/company.tsx
Labels: client

#398 GitHub Actionsでキャッシュを使用する。
  .github/workflows/check.yml
Labels: common

#404 パッケージの最新化。
  client/package.json
  client/yarn.lock
  server/src/yarn.lock
Labels: bug, common

#406 スマホ端末で株価チャートが正しく表示されない問題を修正した。
  client/components/CompanyPriceChart.tsx
Labels: client

#407 銘柄一覧ページでページネーション情報を表示した。
  client/interface/pagination.ts
  client/pages/listed-info.tsx
Labels: client

#408 市場区分のその他も表示するようにした。
  client/data/MarketInfo.ts
Labels: bug, client

#424 CI/CDチェックでマトリックス動作確認テストを行う。
  .github/workflows/check.yml
Labels: common
